body {
	background-color: black;
 
}
 
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	text-align: justify;
}
 
.ryu {
	width: 659px;
	height: 494px;
}
 
.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
 
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
 
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
 
}
 
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	
}
 
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	
}
 
.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
 
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}

.text {
	height: 50px;
	width: 150px;
	margin-left: 700px;
	margin-top: -450px;
	position: absolute;
	font-family: 'Jolly Lodger', cursive;
	text-align: center;
	font-size: 2em;
}

.text2 {
	height: 50px;
	width: 150px;
	margin-left: 950px;
	margin-top: -330px;
	position: absolute;
	font-family: 'Jolly Lodger', cursive;
	text-align: center;
	font-size: 2em;
}

